<?xml version="1.0" encoding="UTF-8"?><web-app metadata-complete="true" version="3.0" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
    <display-name>MWBM</display-name>
    <context-param>
        <param-name>contextClass</param-name>
        <param-value>org.springframework.web.context.support.AnnotationConfigWebApplicationContext</param-value>
    </context-param>
    <context-param>
        <param-name>contextConfigLocation</param-name>
        <param-value>pe.bn.com.mwbm.transversal.configuracion.init.ApplicationContextInitializer</param-value>
    </context-param>
    <context-param>
        <param-name>primefaces.MOVE_SCRIPTS_TO_BOTTOM</param-name>
        <param-value>true</param-value>
    </context-param>
    <context-param>
        <param-name>com.sun.faces.writeStateAtFormEnd</param-name>
        <param-value>false</param-value>
    </context-param>
    <context-param>
        <param-name>javax.faces.DATETIMECONVERTER_DEFAULT_TIMEZONE_IS_SYSTEM_TIMEZONE</param-name>
        <param-value>true</param-value>
    </context-param>
    <context-param>
        <param-name>javax.faces.FACELETS_DEVELOPMENT</param-name>
        <param-value>true</param-value>
    </context-param>
    <context-param>
        <param-name>javax.faces.PROJECT_STAGE</param-name>
        <param-value>Development</param-value>
    </context-param>
    <context-param>
        <param-name>javax.faces.STATE_SAVING_METHOD</param-name>
        <param-value>server</param-value>
    </context-param>
    <context-param>
        <param-name>primefaces.FONT_AWESOME</param-name>
        <param-value>true</param-value>
    </context-param>
    <filter>
        <filter-name>springSecurityFilterChain</filter-name>
        <filter-class>org.springframework.web.filter.DelegatingFilterProxy</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>springSecurityFilterChain</filter-name>
        <url-pattern>/*</url-pattern>
        <dispatcher>FORWARD</dispatcher>
        <dispatcher>REQUEST</dispatcher>
    </filter-mapping>
    <listener>
        <listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
    </listener>
    <listener>
        <listener-class>org.springframework.web.context.request.RequestContextListener</listener-class>
    </listener>
    <listener>
        <listener-class>org.omnifaces.cdi.eager.EagerBeansRequestListener</listener-class>
    </listener>
    <listener>
        <listener-class>org.omnifaces.component.output.cache.CacheInitializerListener</listener-class>
    </listener>
    <listener>
        <listener-class>org.omnifaces.facesviews.FacesViewsInitializerListener</listener-class>
    </listener>
    <listener>
        <listener-class>org.omnifaces.cdi.eager.EagerBeansSessionListener</listener-class>
    </listener>
    <servlet>
        <servlet-name>Faces Servlet</servlet-name>
        <servlet-class>javax.faces.webapp.FacesServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet>
        <servlet-name>pe.bn.com.mwbm.transversal.util.DescargarPDF</servlet-name>
        <servlet-class>pe.bn.com.mwbm.transversal.util.DescargarPDF</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Faces Servlet</servlet-name>
        <url-pattern>*.jsf</url-pattern>
         
    </servlet-mapping>
    
    <session-config>
        <session-timeout>30</session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>index.jsf</welcome-file>
    </welcome-file-list>
    <error-page>
        <error-code>500</error-code>
        <location>/ERROR/error500.jsf</location>
    </error-page>
    <error-page>
        <exception-type>javax.faces.application.ViewExpiredException</exception-type>
        <location>/index.jsf</location>
    </error-page>
    <service-ref>
    	<description>
    	WSDL Service AutenticaRegService</description>
    	<service-ref-name>service/AutenticaRegService</service-ref-name>
    	<service-interface>seguridad.service.AutenticaRegService</service-interface>
    	<wsdl-file>WEB-INF/wsdl/AutenticaReg.wsdl</wsdl-file>
    	<jaxrpc-mapping-file>WEB-INF/AutenticaReg_mapping.xml</jaxrpc-mapping-file>
    	<service-qname xmlns:pfx="http://service.seguridad">
    	pfx:AutenticaRegService</service-qname>
    	<port-component-ref>
    		<service-endpoint-interface>seguridad.service.AutenticaReg</service-endpoint-interface>
    	</port-component-ref>
    </service-ref>
    <service-ref>
        <description>WSDL Service ParametroInterfazService</description>
        <service-ref-name>service/ParametroInterfazKeyService</service-ref-name>
        <service-interface>pe.bn.com.mwbm.transversal.ws.comp.service.ParametroInterfazKeyService</service-interface>
        <wsdl-file>WEB-INF/wsdl/ParametroInterfaz.wsdl</wsdl-file>
        <service-qname xmlns:pfx="http://service.ws.comp.bn.com.pe">pfx:ParametroInterfazKeyService</service-qname>
        <port-component-ref>
            <service-endpoint-interface>pe.bn.com.mwbm.transversal.ws.comp.service.ParametroInterfazKey</service-endpoint-interface>
            <enable-mtom>false</enable-mtom>
        </port-component-ref>
    </service-ref>
    <post-construct>
        <lifecycle-callback-class>pe.bn.com.mwbm.presentacion.controlador.LoginController</lifecycle-callback-class>
        <lifecycle-callback-method>init</lifecycle-callback-method>
    </post-construct>
</web-app>